<! DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <title>Surya TRS Rewa</title>
    </head>

    <body>
        <nav class="navbar navbar-dark mb-4" style="background-color: #0b5f7c;">
            <div class="container">
                <a class="navbar-brand" href="/">Surya TRS Rewa</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class=".col-md-6 m-auto">
                    <marquee>
                        <h4 class="text-danger">Contact with social media</h4>
                    </marquee>

                    <div class="container text-center">
                        <a href="https://www.facebook.com/surya_trs_rewa" target="_blank" style="text-decoration: none; color: black;">Facebook <img src="http://www.pankajtrsrewa.com/static/image/fb.png" alt=".." height="100px" ; /></a>

                        <a href="https://www.instagram.com/surya_trs_rewa/" target="_blank" style="text-decoration: none; color: black;">Instagram <img src="http://www.pankajtrsrewa.com/static/image/insta.png" alt=".." height="100px" ; /></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
